input[type=text], input[type="email"] {
    color: black;
    font-weight: bold;
  }

  input[type=text]:focus, input[type="email"]:focus{
    color: black;
    font-weight: bold;
  }

  #textArea {
    color: black;
    font-weight: bold;    
    resize: none;
  }