/* css for all webpages...body, container, footer, headers, and disabled button */
body {
    padding-top: 65px;
    background-color: rgb(201, 201, 201);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;    
}

body h3 h4 {
  color: rgb(39, 58, 58);;
}

body p {
  font-size: large;
}

.container {
  background: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  background-color: rgb(39, 58, 58);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}